html{
	background: #FCF6F0
}
img{ 
	width: 100%;
	height: auto;
}
.truck{
	position:relative;
}
.weddingof {
	position: absolute;
	color: #c13b2a;
	font-family: 'Pompiere', cursive;
	font-size: 5vw;
	text-shadow: 0.15vw 0.15vw 0.3vw #3e444c,
				 -0.08vw -0.08vw 0 #C6CFF6,
				 0.08vw -0.08vw 0 #C6CFF6,
				 -0.08vw 0.08vw 0 #C6CFF6,
				 0.08vw 0.08vw 0 #C6CFF6;
	top: 4%;
	left: 13%;
	line-height: 80%;
}
.imgtext {
	position: absolute;
	color: #c13b2a;
	font-family: 'Clicker Script', cursive;
	font-weight: bold;
	font-size: 6.5vw;
	text-shadow: 0.2vw 0.2vw 0.5vw #3e444c,
				 -0.08vw -0.08vw 0 #C6CFF6,
				 0.08vw -0.08vw 0 #C6CFF6,
				 -0.08vw 0.08vw 0 #C6CFF6,
				 0.08vw 0.08vw 0 #C6CFF6;
	top: 12%;
	left: 3%;
	line-height: 90%;
}
.infoleft {
	position: absolute;
	top: 33%;
	bottom:40%;
	left: 2%;
	float: left;
	width: 11%;
	background: rgba(204, 204, 204, 0.5);
	padding-top: 1.5%;
	border-top-left-radius: 4vw;
	border-bottom-left-radius: 4vw;
}
.inforight{
	position: absolute;
	left: 13%;
	top: 33%;
	bottom: 40%;
	width: 30%;
	text-align: left;
	padding-top: 1.5%;
	background: rgba(204, 204, 204, 0.5);
	border-top-right-radius: 4vw;
	border-bottom-right-radius: 4vw;
}

.textleft {
	position: absolute;
	text-align: right;
	right: 15%;
	color: #3750C1;
	font-family: 'Pompiere', cursive;
	font-size: 3vw;
	font-weight: bold;
	line-height: 130%;
}
.textright {
	position: absolute;
	left: 3%;
	color: #3750C1;
	font-family: 'Pompiere', cursive;
	font-size: 3vw;
	font-weight: bold;
	line-height: 130%;
}
a {
	color: #3750C1;
	text-decoration: none;
}
.lineone {
	position: relative;
	width: 100%;
	overflow: auto;
	margin-top: 2vw;
}
.sidephoto {
	float: right;
	width: 33.33%;
}
.paragraph {
	position: absolute;
	top: 0;
	bottom: 0;
	float: left;
	font-family: 'Pompiere', cursive;
	font-size: 3vw;
	color: #3750C1;
	width: 66.66%;
}
p {
	margin-top: 0;
	margin-left: 0.5vw;
}
.accom {
	width: 100%;
	text-align: center;
	font-size: 7vw;
	font-family: 'Clicker Script', cursive;
	color: #3750C1; 
	text-shadow: 0.1vw 0.1vw 0.3vw #3e444c;
}
.linetwo {
	position: relative;
	width: 100%;
	overflow: auto;
}
.accomsection {
	position: relative;
	float: left;
	width: 32%;
	margin: .5%;
}
.accomlabel {
	font-size: 4vw;
	top: 3vw;
	right: 0.5vw;
	position: absolute;
	font-family: 'Clicker Script', cursive;
	color: #3750C1; 
	font-weight: bold;
	text-shadow: 0.15vw 0.15vw 0.3vw #3e444c,
				 -0.05vw -0.05vw 0 #C6CFF6,
				 0.05vw -0.05vw 0 #C6CFF6,
				 -0.05vw 0.05vw 0 #C6CFF6,
				 0.05vw 0.05vw 0 #C6CFF6;
}

.accomlabel:hover {
	color:#C6CFF6;
}
.navbar {
	margin: auto;
	text-align: center;
	background-color: #FCF6F0;
	height: 4.5vw;
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	padding-top: 0.1vw;
}

.navbutton{
	margin: 5vw;
	color: #3750C1;
	text-decoration: none;
	font-family: 'Pompiere', cursive;
	font-size: 4vw;
}
a:hover {
	color:#C6CFF6;
}
@media screen and (max-width:800px) {
	.paragraph {
		width: 100%;
		font-size: 4vw;
	}
	p {
		margin-top: 2vw;
	}
	.sidephoto {
		opacity: 0;
	}
	.accom{
		font-size: 10vw;
	}
	.lineone {
		margin-top: 0;
	}
	.navbutton {
		font-size: 6vw;
		margin: 3vw;
	}
	.navbar {
		height: 9vw;
		padding-top: 2vw;
	}
}