html{
	background: #FCF6F0
}
img{ 
	width: 100%;
	height: auto;
}
h1 {
	color: #3750C1;
	font-family: 'Clicker Script', cursive;
	font-size: 8vw;
	text-align: center;
	margin-top: 0;
	margin-bottom: 12%;
}
h2 {
	margin-top: 0px;
	text-align: center;
	margin-bottom: 0px;
}
.cursivehead {
	font-family: 'Pompiere', cursive;
	color: #C6CFF6;
}
h3 {
	margin-top: 0px;
	text-align: center;
	margin-bottom: 0px;
}
.flower {
	margin-top: 0px;
	float: left;
	width: 70%;
	
}
.info {
	float: left;
	width: 30%;
	margin-bottom: 3%;
}
.whenwhere {
	color: #C6CFF6;
	font-family: 'Pompiere', cursive;
	font-size: 3.5vw;
}
.navbar{
	margin: auto;
	margin-top: 5vw;
	text-align: center;
}
.navbutton{
	margin: 2.5vw;
	color: #3750C1;
	text-decoration: none;
	font-family: 'Pompiere', cursive;
	font-size: 4vw;
}
@media screen and (max-width:800px) {
	.flower {
		width: 100%;
		margin-bottom: 0
	}
	.info {
		width: 100%;
		margin-top: 5%;
		margin-bottom: 8%;
	}
  .navbutton {
	font-size: 6vw;
  }
  .whenwhere {
	 font-size: 10vw;
  }
  h1 {
	  font-size: 18vw;
	  margin-bottom: 5%;
  }
}
a:hover {
	color:#C6CFF6;
}