html{
	background: #FCF6F0
}
h1 {
	color: #3750C1;
	font-family: 'Clicker Script', cursive;
	font-size: 8vw;
	text-align: center;
	margin: 0
}
img {
	width: 50%;
	margin: 5% 25%
}
.registry {
	margin: auto;
}
.navbar{
	margin: auto;
	margin-top: 5vw;
	text-align: center;
}
.navbutton {
	margin: 2.5vw;
	color: #3750C1;
	text-decoration: none;
	font-family: 'Pompiere', cursive;
	font-size: 4vw;
}
@media screen and (max-width:800px) {
	h1 {
		font-size: 18vw;
	}
	.navbutton {
		font-size: 6vw;
	}
}