h5 {
	position: relative;
	color: white;
	font-family: 'Clicker Script', cursive;
	font-size: 72pt;
	text-align: center;
	bottom: 140px;
	left: 280px;
}
.cursivehead {
	font-family: 'Clicker Script', cursive;
	font-size: 60pt;
	text-align: left;
	margin-left: 50px;
}
.form {
    min-height: 100%;
	width: 500px;
	position: relative;
	left: 1000px;
	bottom: 290px;
}
.attendform {
	margin-top: 30px;
	margin-bottom: 30px;	
}
.buttoncontainer {
	color: white;
	font-family: 'Pompiere', cursive;
	font-size:30pt;
	margin-top: 10px;
}


/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #C0C0C0;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: white;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: black;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=radio], select {
    width: 100%;
    color: white;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
label {
	color: white;
	font-family: 'Pompiere', cursive;
	font-size:30pt;
}
input[type=submit] {
    width: 100%;
    background: url(rice2.jpg);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
	margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-color:gray;
}

input[type=submit]:hover {
    background: url(rice2bright.jpg);
}
input[type=submit]:active {
    background: url(rice2bright.jpg);
}
label.btn span {
  font-size: 2em ;
}

div[data-toggle="buttons"] label.active{
    color: white;
}


div[data-toggle="buttons"] label:hover {
color: white;
font-weight: bold;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}


.nav {
	position: relative;
	width: 1000px;
	left: 980px;
	bottom: 250px;
}
a.home {
	font-family: 'Pompiere', cursive;
	font-size:42pt;
	color: #C0C0C0;
	text align: left;
	margin-left: 50px;
	font-size:42pt;
	text-decoration: none;
}
a.venue {
	font-family: 'Pompiere', cursive;
	font-size:42pt;
	color: #C0C0C0;
	text align: center;
	margin-left: 50px;
	font-size:42pt;
	text-decoration: none;
}
a.details {
	font-family: 'Pompiere', cursive;
	font-size:42pt;
	color: #C0C0C0;
	text align: right;
	margin-left: 50px;
	font-size:42pt;
	text-decoration: none;
}

a.home:hover {
	color: white;
}
a.details:hover {
	color: white;
}
a.rsvp:hover {
	color: white;
}
a.venue:hover {
	color: white;
}
html {

	background:url(https://www.walldevil.com/wallpapers/a82/wallpaper-white-black-bridal-wreath-desktop-wallbank.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
